<p>ID: <%= @user.id %></p>
<p>Username: <strong><%= name(@user) %></strong></p>

<p>Mail: <strong><%= mail(@user) %></strong></p>

<p>Gender: <strong><%= gender(@user) %></strong></p>

<p>Role: <strong><%= role(@user) %></strong></p>